<component name="libraryTable">
  <library name="Spring_MVC_CORE">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/spring-web-4.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/spring-webmvc-4.0.0.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.ideaLibSources/spring-web-4.0.0.RELEASE-sources.jar!/" />
    </SOURCES>
  </library>
</component>